<div class="row">
  <div class="col-md-8">

    <h1><%= @board.title %></h1>

    <%= image_tag @board.logo.url(:thumb_fill), height: 50, width: 50 %>


    <% if policy(@board).update? %>
      <%= link_to "Duzenle", edit_board_path(@board.id) %>
    <% end %>
  </div>

  <div class="col-md-4">
    Owners: <br/>

    <% @board.owners.each do |user| %>
      <%= user.email %> <br />
    <% end %>
  </div>
</div>
